<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User login page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <!-- <center>
      <h1>User Login</h1>
      <br />

      <h3>Remember Me</h3>

      <a href="User_Dashboard_Page.html">Login</a>
      <br />
      <a href="Forget_Password.html">Forget Password</a>
      <br />
      <br />

      <h5>if new user?</h5>
      <br />
      <br />
      <a href="User_Register.html">Register here</a>
    </center> -->

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <center>
            <br />
            <br />
            <h1>User Login</h1>
          </center>
          <form id="loginForm">
            <div class="form-group">
              <label for="user">Username:</label>
              <input type="text" class="form-control" id="usr" />
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" class="form-control" id="pwd" />
            </div>
            <div class="form-group text-right">
              <a href="forgotUserPasswordPage.html">Forgot Password ?</a>
            </div>

            <button type="submit" class="btn btn-primary btn-block">
              <a href="userDashboardPage.html"
                style="color: white; text-decoration: none"
              >
                Login
              </a>
            </button>

            <br />

            <div class="form-group">
              <br />
              <center>
                if new user ? <br />
                <a href="userRegisterPage.html">
                  <button type="button" class="btn btn-link">
                    Register here!
                  </button>
                </a>
              </center>
            </div>
          </form>
          <br />
          <div id="errorContainer" class="text-center"></div>
          <div id="messageContainer" class="text-center"></div>
        </div>
      </div>
    </div>
  </body>
</html>